/* #root {
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    width: 90%;
    height: 100%;
} */

.card-1 {
    width: 90%;
    height: 450px;
    border: 2px solid black;
    border-radius: 10px;
}
.card-1 > img {
    width: 60%;
    height: 80%;
    border-radius: 15px;
    display: block;
    margin: auto;
    padding-top: 40px;
}
.card-1 > h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.card-2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.card-2 > .Ingredientes {
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}
.card-2 > .Instrucciones {
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}
.card-3 {
    width: 90%;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    align-content: center;
}
.card-3 > iframe {
    display: block;
    margin: auto;
    width: 70%;
    height: 95%;
}