* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Roboto Mono", monospace; */
  /* font-family: "Bodoni Moda SC", serif; */
  font-family: "Macondo", cursive;
}

li {
  list-style: none;
}
.app_container {
  display: flex;
  flex-direction: column;
}

.app_categori {
  display: flex;
}

.app_details {
  place-items: center;
}